In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder \
    .master("local") \
    .appName("Exercise1") \
    .getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/06/29 07:50:05 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [17]:
parquetFile = spark.read.parquet("part-00016-0f978a44-491b-411b-9bf5-266bd9d4e836-c000.snappy.parquet")

In [18]:
parquetFile.printSchema()

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- price: string (nullable = true)

In [28]:
from pyspark.sql import SparkSession
  
spark = SparkSession.builder.appName("DataFrame").getOrCreate()
path = "./data/sentiment/imdb_labelled.txt"
    
    
df = spark.read.text(path)
def split_line(line):
    sentence, label = line.split('\t')
    return {'sentence': sentence, 'label': label}

df.map(split_line).show(4)
  
# df.selectExpr("split(value, '\t') as\
# Text_Data_In_Rows_Using_Text").printSchema()

AttributeError: 'DataFrame' object has no attribute 'map'